{%extends 'home.html'%}
{% load crispy_forms_tags%}

        {% block content%}
            {{data}}
        </div>
        <div class="row justify-content-center">
            <form action="" method="POST" class="col-lg-8 col-md-10 col-sm-12 shadow rounded p-4">
                {%csrf_token%}
                <!-- {{submission|crispy}} -->
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        {{submission.org|as_crispy_field}}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {{submission.nature|as_crispy_field}}
                    </div>
                </div>
                {{submission.opennings|as_crispy_field}}
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        {{submission.employees|as_crispy_field}}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {{submission.place|as_crispy_field}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        {{submission.basic|as_crispy_field}}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {{submission.ratings|as_crispy_field}}
                    </div>
                </div>
                <div class="row justify-content-around mt-5">
                    <button class="btn btn-outline-success col-2" type="submit">
                        <span><i class="bi bi-cloud-upload-fill"></i></span>
                    </button>
                    <button class="btn btn-outline-success col-2">
                        <i class="bi bi-x-square-fill"></i>
                    </button>
                </div>
            </form>
        </div>
    {%endblock content%}